.profile-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background: #fff;
}
.profile-header {
  display: flex;
  align-items: center;
}
.profile-header img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 10px;
}
.repo-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background: #f9f9f9;
}
.user-stats {
  display: flex;
  gap: 20px;
  font-weight: bold;
}
.profile-header-large {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 20px;
}
.profile-header-large img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}
.head-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.searchBtn {
  margin-left: 6px;
}
.profile-page {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  height: max-content;
  width: 800px;
  border: 2px solid grey;
  border-radius: 10px;
}
